.text {
	color: #252525;
	font-family: 'Inter', sans-serif;
}

.size-12 {
	font-size: 12px;
}

.size-22 {
	font-size: 22px;
}

.size-31 {
	font-size: 31px;
}

.weight-400 {
	font-weight: 400;
}

.weight-800 {
	font-weight: 800;
}

.uppercase {
	text-transform: uppercase;
}
