.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 82px;
	height: 82px;
	background-color: #252525;
	border-radius: 50%;
	cursor: pointer;
	transform: rotate(0deg);
	transition: transform 0.3s ease, background-color 0.3s ease;

	&_open {
		transform: rotate(180deg);
	}

	&:hover {
		background-color: #555555;
	}
}
